<script>
 window.onload = function (){
	var objDiv = document.getElementById("groupmessages_list");
objDiv.scrollTop = objDiv.scrollHeight;
}
var objDiv = document.getElementById("groupmessages_list");
objDiv.scrollTop = objDiv.scrollHeight;
</script>
	<div id="groupmessages_list" style="overflow-y:scroll;height:200px ">
		<% @groupmessages= Groupmessage.all %>
		<ul class = "list-group">
		<% @groupmessages.each do |msg| %>
		<% if current_user.name == msg.user.name %>
		<li style="list-style-type:none;" class= "list-group-item" id = "message-text" >
			<span class="label label-success"><%= msg.user.name.titleize %>:</span>
			<%= msg.text %>
			<span style="float:right"><%= msg.created_at.strftime("%I:%M %p") %></span>
		</li>
		<% else %>
		 <li style="list-style-type:none" class= "list-group-item" id = "message-text">
			<span class="label label-primary"><%= msg.user.name.titleize %>:</span>
			<%= msg.text %>
			<span style="float:right" ><%= msg.created_at.strftime("%I:%M %p") %></span>
		</li>
		<% end %> 
		<% end %>
		
	</ul>
</div>
</div>
