<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @groupmessage.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @groupmessage.user %>
</p>

<%= link_to 'Edit', edit_groupmessage_path(@groupmessage) %> |
<%= link_to 'Back', groupmessages_path %>
